<div class="container">
    <br>
    <h2>ユーザー編集</h1>
    <br>
    <%= form_for(@user) do |user| %>
        <div class="form">
            <P>ユーザー名</P>
            <%= user.text_field :name %>
        </div>
        <div class="form">
            <%= user.submit "保存する" %>
        </div>
        <div class="form">
            <%= link_to "退会する", user_path(user), method: :delete %>
        </div>
    <% end %>
</div>