<div class="container">
    <br>
    <h2 class="title">レーベル一覧</h2>
        <table class="table">
        <% @labels.each do |label| %>
            <tr>
                <th>レーベル名</th>
                <th><%= label.label_name %></th>
                <th><%= link_to "削除", admin_label_path(label),method: :delete %>
            </tr>
        <% end %>
        </table>
        <hr>
        <br>
    <div class="form">
        <%= link_to "レーベル追加へ", new_admin_label_path %>
    </div>

</div>
