<div class="container">
    <br>
    <h2 class="title">小説一覧</h2>
    <% @novels.each do |novel| %>
        <br>
        <div class="box">
            <%= link_to novel_path(novel) do %>
                <P><%= novel.title %></P>
            <% end %>
            </p>
            <%# 総合評価 %>
            <div class="text">
                <p><%= novel.explanation %></p>
            </div>
        </div>
    <% end %>
    <br>
</div>