/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";
@import "font-awesome";

.submit {
    color: black;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    width: 100%;
    background-color: rgba(184, 166, 166, 0.89);
    top: 0;
}

ul {
    display: flex;
    padding-top: 15px;

    li {
    font-family: 'M PLUS Rounded 1c', sans-serif;
    list-style: none;
    margin: auto;
    }
}

.app_title{
    text-align: center;
    color: black; 
}
.title{ 
    text-align: center;
}

.form{ 
    text-align: center;
}

.field{
    text-align: center;
}

.card-title{
    background-color: rgba(0, 0, 0, 0.438);
    color: white;
}
.box{
    border: 0.5rem outset rgba(235, 235, 235, 0.863);
}
.text{
    border: 0.01rem solid grey;
    margin: 20px;
}
.review{
    border: 0.01rem solid grey;
    padding: 30px;
}
.fa-heart {
    color: rgb(0, 255, 115);
    }

.p_box{
    border-bottom: 1px solid rgb(128, 128, 128);
    padding-bottom: 5px;
}

.p_text{
    margin: 0;
}

.log{
    background-color: black;
    color: black;
}


    



