<div class= "container">
    <% if flash[:user] %>
        <h5 class="alert alert-success"><%= flash[:user] %></h5>
    <% end %>
    <br>
    <div>
        <h1 class="title">ユーザー一覧</h1>
    </div>
    <table class= "table">
        <% @users.each do |user| %>
        <tr>
            <th>
                <%= user.name %>
            </th>
            <th>
                <%= link_to "編集画面へ", edit_admin_user_path(user) do %>
            </th>
            <% end %>
        </tr>
        <% end %>
    </table>
    <div class="pagination">
        <%= paginate @users %>
    </div>
</div>
